# Dependencies
**/node_modules

# Tests
**/test
**/*.test.ts
**/*.test.tsx
coverage

# Build artifacts
**/dist

# Documentation
docs

# Scripts
scripts

# IDE / dev files
.git
.github
.vscode
*.md
.env
.env.example
